---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
  eagerCount?: number;
}

const { posts, eagerCount = 0 } = Astro.props;
---

<ul>
  {
    posts.map((post, index) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} imageLoading={index < eagerCount ? "eager" : "lazy"} />
      </li>
    ))
  }
</ul>
